# Unreal Engine specific
*.log
Saved/
DerivedDataCache/
Intermediate/
Binaries/
Build/

# Ignore Mac OS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
*.tmp

# Visual Studio files
.vs/
*.ipch

# Visual Studio Code files
.vscode/